aniso8601==7.0.0
Click==7.0
cmudict==0.4.3
editdistance==0.5.3
Flask==1.1.1
Flask-DotEnv==0.1.2
Flask-GraphQL==2.0.0
graphene==2.1.8
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
neo4j==1.7.5
neobolt==1.7.15
neotime==1.7.4
promise==2.2.1
python-dotenv==0.10.3
pytz==2019.3
Rx==1.6.1
six==1.12.0
Werkzeug==0.16.0
