aniso8601==7.0.0
argcomplete==1.9.3
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.1
bleach==3.1.0
boto3==1.10.2
botocore==1.13.2
certifi==2019.9.11
cfn-flip==1.2.1
chardet==3.0.4
Click==7.0
cmudict==0.4.3
colorama==0.4.1
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.6
django-filter==2.2.0
django-graphql-jwt==0.2.2
docutils==0.15.2
durationpy==0.5
editdistance==0.5.3
entrypoints==0.3
Flask==1.1.1
Flask-GraphQL==2.0.0
future==0.16.0
graphene==2.1.8
graphene-django==2.6.0
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
hjson==3.0.1
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.3
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.0
nbformat==4.4.0
neo4j-driver==1.7.5
neobolt==1.7.15
neotime==1.7.4
notebook==6.0.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
placebo==0.9.0
prometheus-client==0.7.1
promise==2.2.1
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py2neo==4.3.0
Pygments==2.3.1
PyJWT==1.7.1
pyrsistent==0.15.4
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.22.0
Rx==1.6.1
s3transfer==0.2.1
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
tornado==6.0.3
tqdm==4.19.1
traitlets==4.3.3
troposphere==2.5.2
Unidecode==1.1.1
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wsgi-request-logger==0.4.6
zappa==0.48.2
zipp==0.6.0
